@use '../../../app/styles/mixins.scss' as m;
@use '../../../app/styles/style.variables.scss' as v;

nav {
    position: relative;
    display: flex;
    width: 100%;
}

.container_link {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.link {
    @include m.flex-center;
    font-size: 1.2rem;
    text-decoration: none;
    color: v.$slateGrey;
    cursor: pointer;
    margin: 0.5rem 2rem;
}

.hide_second_mobile {
    display: none;
}

.active-link {
    color: v.$slateGrey;
    border-bottom: 2px solid v.$slateGrey;
    font-weight: bold;
}


@include m.smartphone-up {
    nav {
        margin-right: 2vw;
    }

    .container_link {
        flex-direction: row;
    }

    .link {
        margin: 1rem;
    }

    .hide_second_mobile {
    display: block;
}

}