<main>
    <div class="container">

        <table>
            @for (column of columns(); track $index) {
                <th class="date">{{column.column}}</th>
            }
            @for (row of rows(); track $index) {
            <tr class="row">
                <td class="date">{{row.name}}</td>
                <td class="date">{{row.members}}</td>
                <td class="date">{{row.since}}</td>
                <td class="date">{{row.master}}</td>
            </tr>
            }
        </table>
    </div>
</main>