@use '../../../app/styles/style.variables.scss' as v;
@use '../../../app/styles/mixins.scss' as m;


main {
    min-height: 100vh;
}

.container {
    max-width: 100%;
    @include m.flex-center;
    margin: 2rem;
}

.row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 5px;
}

.date_head {
    display: none;
}


.date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    gap: 25px;
    border-bottom: 1px solid #eee;
    color: v.$blueSlate;

    &::before {
        content: attr(data-label);
        font-weight: bold;
        color: v.$blueSlate;
        text-align: left;
    }

    &:last-child {
        border-bottom: none;
        margin-bottom: 20px;
    }
}


@include m.smartphone-up {

    main {
        height: 100vh;
    }

    .container {
        width: 100%;
        @include m.flex-center;
        margin: 2rem;
    }

    table {
        display: table;
        width: 90%;
        max-width: 100%;
    }

    .date_head {
        display: table-cell;
        border: 1px solid v.$slateGrey;
        padding: 1rem;
        background: #f5f5f5;
        font-weight: bold;
    }

    .row {
        display: table-row;
    }

    .date {
        display: table-cell;
        border: 2px solid v.$slateGrey;
        padding: 1vw;
        color: v.$blueSlate;
        text-align: center;

        &:last-child {
            border: 2px solid v.$slateGrey;
        }

        &::before {
            display: none;
        }
    }

}